<template>
  <q-page class="row q-pa-md">
    <p class="text-h5 col-12 q-mb-sm">Chuck Norris Jokes</p>
    <categories
      :categories="categories"
      :currentJokeCategory="currentJoke?.categories[0]"
      @categoryClicked="fetchJokesByCategory($event)"
    />
    <div class="col-10 offset-1 text-h6 text-weight-light">
      <!-- <q-linear-progress indeterminate v-if="fetchingJoke && !currentJoke" /> -->
      <q-skeleton type="text" v-if="fetchingJoke && !currentJoke" />
      <p v-if="currentJoke">
        {{ currentJoke.value }}
      </p>
    </div>
  </q-page>
</template>

<script>
import categories from "src/components/categories.vue";

export default {
  name: "HomePage",
  components: { categories },
  data() {
    return {
      categories: [],
      currentJoke: null,
      fetchingJoke: false,
    };
  },
  methods: {
    async fetchJokeCategories() {
      try {
        let res = await this.$axios.get(
          "https://api.chucknorris.io/jokes/categories"
        );
        if (res.status == 200 && res.data) this.categories = res.data;
      } catch (err) {
        console.log(err);
      }
    },
    async fetchJokesByCategory(category) {
      this.fetchingJoke = true;
      try {
        let res = await this.$axios.get(
          `https://api.chucknorris.io/jokes/random?category=${category}`
        );
        if (res.status == 200 && res.data) this.currentJoke = res.data;
      } catch (err) {
        console.log(err);
      }
      this.fetchingJoke = false;
    },
  },
  created() {
    this.fetchJokeCategories();
  },
};
</script>
