<template>
  <div v-if="categories.length > 0" class="col-1 column">
    <q-btn
      v-for="(category, i) of categories"
      :key="i"
      :label="category"
      :class="currentJokeCategory == category && 'bg-indigo-10'"
      class="text-capitalize bg-primary text-white rounded-borders q-my-xs"
      @click="$emit('categoryClicked', category)"
      dense
    />
  </div>
</template>

<script>
export default {
  name: "categories-component",
  props: ["categories", "currentJokeCategory"],
};
</script>

<style></style>
